.header {
    font-weight: 200;
    font-size: 50px;
    margin-top: 8%;
    text-align: center;
}
.textbox-words {
    margin-left:0%;
    margin-top: 3%;
    height: 100%;
    width: 100%;
    font-size: 15px;
}
.input-container {
    /* font-size: 23px; */
    background-color: lavender;
    margin-top: 3%;
    padding-top: 3%;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 3%;
}
.input-header {
    font-size: 23px;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid #4c53af;
    transition-duration: 0.4s;
}
.button:hover {
    background-color:  #4c53af;
    color: white;
}
.button-u {
    margin-top: 2%;
    margin-left: 10%;
    background-color: white;
    color: black;
    border: 2px solid #4c53af;
    transition-duration: 0.4s;
}
.button-u:hover {
    background-color:  #4c53af;
    color: white;
}
.fileName {
    font-size: 16px;
    font-style: italic;
    color: darkgreen;
    margin-left: 10%;
}