.resume-container {
    font-size: 18px;
    margin-top: .5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 80rem !important;
}
.custom-modal {
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.pdf {
    align-self: center;
    align-items: center;
    justify-content: center;
}
.close {
    margin-left: auto;
}
.delete-btn {
    margin-left: auto;
}
.modal-header {
    display: flex;
}
.row {
    display: flex;
    font-size: smaller;
    color:rgb(0, 132, 255);
}
.side-nav {
    height: 100vh !important;
    min-height: 100vh !important;
}
.page-container {
    display: flex;
}