.resume-container {
    font-size: 18px;
    margin-top: .5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 80rem !important;
}
.custom-modal {
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.pdf {
    display: flex;
    align-self: center;
    justify-content: center;
    max-width: 100%;
}
.close {
    margin-left: auto;
    font-size: 15px;
}
button.close {
    background-color: rgb(243, 91, 91);
    text-shadow: none;
    opacity: 1;
    color: rgba(29, 27, 27, 0.979);
    padding: 15px;
}
.delete-btn {
    margin-left: auto;
}
.modal-header {
    flex-direction: column;
    justify-content: space-between;
}
.row {
    display: flex;
    font-size: smaller;
    color:rgb(0, 132, 255);
}
.side-nav {
    height: 100vh !important;
    min-height: 100vh !important;
}
.page-container {
    display: flex;
}
.page {
    flex: 1;
    justify-content: center;
    align-items: center;
}