.blog-card-section {
  /* border: 1px grey dashed; */
  width: 70%;
  height: 600px;
  margin: auto;
  /* padding: 15px; */
}

.blog-card {
  margin-bottom: 10px;
  border: lightgrey dashed 1px;
}

.blog-card:hover {
  background-color: #fcfcfc;
}

.blog-navbar-spacing {
  height: 120px;
}
