.add-blog-container {
  /* margin-top: 73px; */
  margin-top: 73px;
  /* height: 2000px; */
  /* border: 3px solid black; */
}

.spacer {
  padding-top: 69px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
}

.form {
  width: 90%;
  /* border: 1px #c4c4c4 solid; */
  margin: auto;
  margin-top: 7px;
}

.header {
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}

.header .title-input {
  font-size: 40px;
}

.header .description-input {
  font-size: 16px;
}

.header-left {
  /* border: 1px red solid; */
  float: left;
  width: 75%;
}

.header-right {
  overflow: scroll;
  float: right;
  width: 25%;
  text-align: right;
}

.header-right button {
  background-color: white;
  border: none;
}

.header-right button:hover {
  background-color: #fcfcfc;
}

.header-right button:focus {
  outline: none;
}

.header-right img {
  overflow: none;
  max-height: 100px;
  width: auto;
}

.header-right img:hover {
  opacity: 0.6;
}

.title-textarea {
  font-size: 40px;
  font-weight: 600;
  margin-left: 2px;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: none;
  min-height: 40px;
  line-height: 40px;
  padding-bottom: 7.5px;
}

.description-textarea {
  margin-left: 2px;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: none;
  min-height: 40px;
  line-height: 20px;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  margin-bottom: 15px;
}

.title-textarea[contentEditable]:hover,
.description-textarea:hover {
  cursor: text;
}

.title-textarea[contenteditable]:empty::before {
  content: 'Title';
  color: #b3b3b1;
}

.description-textarea[contenteditable]:empty::before {
  content: 'Write description here';
  color: #b3b3b1;
}

.title-textarea:focus,
.description-textarea:focus {
  outline: none;
}

.img-preview {
  width: auto;
  max-height: 100px;
  display: block;
  margin: 5% auto;
}
